/* body {
  font-family: sans-serif;
  font-size: 24px;
}

h1 {
  color: blue;
}

.urgent {
  color: white;
  background-color: red;
  padding: 20px;
}

p .urgent {
  color: red;
  background-color: white;
  font-weight: bold;
  padding: 0;
} */

* {
  color: rgb(12, 138, 247);
}

body {
  /* font-size: 16px; */
  background-image: url("../huh.gif");
  background-size: cover;
  font-size: 24px;
}

h1 {
  font-family: sans-serif;
  /* height: 100vh; */
}

/* Style my text */
p {
  /* color: grey;  */
  /* text-align: center;
  text-decoration:solid;
  font-style: italic;
  font-weight: bolder; */
}


#example {
  /* color: green;
  font-size: 25px; */
}

.purple-text {
  color: purple;
}

.small-text {
  font-size: 10px;
}

.urgent {
  color: red;
}





p.urgent {
  background-color: beige;
}

p .urgent {
  border: 3px dotted aqua;
}


div a {
  color: green;
}

.orange {
  color: orange !important;
}

div {
  text-align: center;
  color: blueviolet;
  font-weight: bold;
  font-family: serif;
  font-size: 22px;
  background-color: yellow;
  width: 22rem;
}

.header-container {
  font-size:1rem !important;
  font-weight: bolder;
  background-color: antiquewhite;
}

.main-content {
  background-color: blueviolet;
}